body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u625 {
  position:absolute;
  left:20px;
  top:145px;
  width:1025px;
  height:305px;
}
#u626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u626 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u627 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u628 {
  position:absolute;
  left:127px;
  top:0px;
  width:127px;
  height:36px;
}
#u629 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u630_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:36px;
}
#u630 {
  position:absolute;
  left:254px;
  top:0px;
  width:128px;
  height:36px;
}
#u631 {
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u632 {
  position:absolute;
  left:382px;
  top:0px;
  width:127px;
  height:36px;
}
#u633 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u634 {
  position:absolute;
  left:509px;
  top:0px;
  width:127px;
  height:36px;
}
#u635 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:36px;
}
#u636 {
  position:absolute;
  left:636px;
  top:0px;
  width:128px;
  height:36px;
}
#u637 {
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:36px;
}
#u638 {
  position:absolute;
  left:764px;
  top:0px;
  width:97px;
  height:36px;
}
#u639 {
  position:absolute;
  left:2px;
  top:10px;
  width:93px;
  word-wrap:break-word;
}
#u640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:36px;
}
#u640 {
  position:absolute;
  left:861px;
  top:0px;
  width:159px;
  height:36px;
}
#u641 {
  position:absolute;
  left:2px;
  top:10px;
  width:155px;
  word-wrap:break-word;
}
#u642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u642 {
  position:absolute;
  left:0px;
  top:36px;
  width:127px;
  height:30px;
}
#u643 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u644 {
  position:absolute;
  left:127px;
  top:36px;
  width:127px;
  height:30px;
}
#u645 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u646 {
  position:absolute;
  left:254px;
  top:36px;
  width:128px;
  height:30px;
}
#u647 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  word-wrap:break-word;
}
#u648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u648 {
  position:absolute;
  left:382px;
  top:36px;
  width:127px;
  height:30px;
}
#u649 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u650 {
  position:absolute;
  left:509px;
  top:36px;
  width:127px;
  height:30px;
}
#u651 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u652 {
  position:absolute;
  left:636px;
  top:36px;
  width:128px;
  height:30px;
}
#u653 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  word-wrap:break-word;
}
#u654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u654 {
  position:absolute;
  left:764px;
  top:36px;
  width:97px;
  height:30px;
  color:#FF0000;
}
#u655 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:30px;
}
#u656 {
  position:absolute;
  left:861px;
  top:36px;
  width:159px;
  height:30px;
  color:#199ED8;
}
#u657 {
  position:absolute;
  left:2px;
  top:7px;
  width:155px;
  word-wrap:break-word;
}
#u658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u658 {
  position:absolute;
  left:0px;
  top:66px;
  width:127px;
  height:30px;
}
#u659 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u660 {
  position:absolute;
  left:127px;
  top:66px;
  width:127px;
  height:30px;
}
#u661 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u662 {
  position:absolute;
  left:254px;
  top:66px;
  width:128px;
  height:30px;
}
#u663 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  word-wrap:break-word;
}
#u664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u664 {
  position:absolute;
  left:382px;
  top:66px;
  width:127px;
  height:30px;
}
#u665 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u666 {
  position:absolute;
  left:509px;
  top:66px;
  width:127px;
  height:30px;
}
#u667 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u668 {
  position:absolute;
  left:636px;
  top:66px;
  width:128px;
  height:30px;
}
#u669 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  word-wrap:break-word;
}
#u670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u670 {
  position:absolute;
  left:764px;
  top:66px;
  width:97px;
  height:30px;
}
#u671 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:30px;
}
#u672 {
  position:absolute;
  left:861px;
  top:66px;
  width:159px;
  height:30px;
  color:#199ED8;
}
#u673 {
  position:absolute;
  left:2px;
  top:7px;
  width:155px;
  word-wrap:break-word;
}
#u674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u674 {
  position:absolute;
  left:0px;
  top:96px;
  width:127px;
  height:30px;
}
#u675 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u676 {
  position:absolute;
  left:127px;
  top:96px;
  width:127px;
  height:30px;
}
#u677 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u678 {
  position:absolute;
  left:254px;
  top:96px;
  width:128px;
  height:30px;
}
#u679 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  word-wrap:break-word;
}
#u680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u680 {
  position:absolute;
  left:382px;
  top:96px;
  width:127px;
  height:30px;
}
#u681 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u682 {
  position:absolute;
  left:509px;
  top:96px;
  width:127px;
  height:30px;
}
#u683 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u684 {
  position:absolute;
  left:636px;
  top:96px;
  width:128px;
  height:30px;
}
#u685 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  word-wrap:break-word;
}
#u686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u686 {
  position:absolute;
  left:764px;
  top:96px;
  width:97px;
  height:30px;
}
#u687 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:30px;
}
#u688 {
  position:absolute;
  left:861px;
  top:96px;
  width:159px;
  height:30px;
  color:#199ED8;
}
#u689 {
  position:absolute;
  left:2px;
  top:7px;
  width:155px;
  word-wrap:break-word;
}
#u690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u690 {
  position:absolute;
  left:0px;
  top:126px;
  width:127px;
  height:30px;
}
#u691 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u692 {
  position:absolute;
  left:127px;
  top:126px;
  width:127px;
  height:30px;
}
#u693 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u694 {
  position:absolute;
  left:254px;
  top:126px;
  width:128px;
  height:30px;
}
#u695 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  word-wrap:break-word;
}
#u696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u696 {
  position:absolute;
  left:382px;
  top:126px;
  width:127px;
  height:30px;
}
#u697 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u698 {
  position:absolute;
  left:509px;
  top:126px;
  width:127px;
  height:30px;
}
#u699 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u700 {
  position:absolute;
  left:636px;
  top:126px;
  width:128px;
  height:30px;
}
#u701 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  word-wrap:break-word;
}
#u702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u702 {
  position:absolute;
  left:764px;
  top:126px;
  width:97px;
  height:30px;
  color:#FF0000;
}
#u703 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:30px;
}
#u704 {
  position:absolute;
  left:861px;
  top:126px;
  width:159px;
  height:30px;
  color:#199ED8;
}
#u705 {
  position:absolute;
  left:2px;
  top:7px;
  width:155px;
  word-wrap:break-word;
}
#u706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u706 {
  position:absolute;
  left:0px;
  top:156px;
  width:127px;
  height:30px;
}
#u707 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u708 {
  position:absolute;
  left:127px;
  top:156px;
  width:127px;
  height:30px;
}
#u709 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u710 {
  position:absolute;
  left:254px;
  top:156px;
  width:128px;
  height:30px;
}
#u711 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  word-wrap:break-word;
}
#u712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u712 {
  position:absolute;
  left:382px;
  top:156px;
  width:127px;
  height:30px;
}
#u713 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u714 {
  position:absolute;
  left:509px;
  top:156px;
  width:127px;
  height:30px;
}
#u715 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u716 {
  position:absolute;
  left:636px;
  top:156px;
  width:128px;
  height:30px;
}
#u717 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  word-wrap:break-word;
}
#u718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u718 {
  position:absolute;
  left:764px;
  top:156px;
  width:97px;
  height:30px;
  color:#FF0000;
}
#u719 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:30px;
}
#u720 {
  position:absolute;
  left:861px;
  top:156px;
  width:159px;
  height:30px;
  color:#199ED8;
}
#u721 {
  position:absolute;
  left:2px;
  top:7px;
  width:155px;
  word-wrap:break-word;
}
#u722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u722 {
  position:absolute;
  left:0px;
  top:186px;
  width:127px;
  height:30px;
}
#u723 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u724 {
  position:absolute;
  left:127px;
  top:186px;
  width:127px;
  height:30px;
}
#u725 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u726 {
  position:absolute;
  left:254px;
  top:186px;
  width:128px;
  height:30px;
}
#u727 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u728 {
  position:absolute;
  left:382px;
  top:186px;
  width:127px;
  height:30px;
}
#u729 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u730 {
  position:absolute;
  left:509px;
  top:186px;
  width:127px;
  height:30px;
}
#u731 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u732 {
  position:absolute;
  left:636px;
  top:186px;
  width:128px;
  height:30px;
}
#u733 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u734 {
  position:absolute;
  left:764px;
  top:186px;
  width:97px;
  height:30px;
}
#u735 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:30px;
}
#u736 {
  position:absolute;
  left:861px;
  top:186px;
  width:159px;
  height:30px;
  color:#199ED8;
}
#u737 {
  position:absolute;
  left:2px;
  top:7px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u738 {
  position:absolute;
  left:0px;
  top:216px;
  width:127px;
  height:30px;
}
#u739 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u740 {
  position:absolute;
  left:127px;
  top:216px;
  width:127px;
  height:30px;
}
#u741 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u742 {
  position:absolute;
  left:254px;
  top:216px;
  width:128px;
  height:30px;
}
#u743 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u744 {
  position:absolute;
  left:382px;
  top:216px;
  width:127px;
  height:30px;
}
#u745 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u746 {
  position:absolute;
  left:509px;
  top:216px;
  width:127px;
  height:30px;
}
#u747 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u748 {
  position:absolute;
  left:636px;
  top:216px;
  width:128px;
  height:30px;
}
#u749 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u750 {
  position:absolute;
  left:764px;
  top:216px;
  width:97px;
  height:30px;
}
#u751 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:30px;
}
#u752 {
  position:absolute;
  left:861px;
  top:216px;
  width:159px;
  height:30px;
  color:#199ED8;
}
#u753 {
  position:absolute;
  left:2px;
  top:7px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u754 {
  position:absolute;
  left:0px;
  top:246px;
  width:127px;
  height:30px;
}
#u755 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u756 {
  position:absolute;
  left:127px;
  top:246px;
  width:127px;
  height:30px;
}
#u757 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u758 {
  position:absolute;
  left:254px;
  top:246px;
  width:128px;
  height:30px;
}
#u759 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u760 {
  position:absolute;
  left:382px;
  top:246px;
  width:127px;
  height:30px;
}
#u761 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u762 {
  position:absolute;
  left:509px;
  top:246px;
  width:127px;
  height:30px;
}
#u763 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u764 {
  position:absolute;
  left:636px;
  top:246px;
  width:128px;
  height:30px;
}
#u765 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u766 {
  position:absolute;
  left:764px;
  top:246px;
  width:97px;
  height:30px;
}
#u767 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:30px;
}
#u768 {
  position:absolute;
  left:861px;
  top:246px;
  width:159px;
  height:30px;
  color:#199ED8;
}
#u769 {
  position:absolute;
  left:2px;
  top:7px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:24px;
}
#u770 {
  position:absolute;
  left:0px;
  top:276px;
  width:127px;
  height:24px;
}
#u771 {
  position:absolute;
  left:2px;
  top:4px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:24px;
}
#u772 {
  position:absolute;
  left:127px;
  top:276px;
  width:127px;
  height:24px;
}
#u773 {
  position:absolute;
  left:2px;
  top:4px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:24px;
}
#u774 {
  position:absolute;
  left:254px;
  top:276px;
  width:128px;
  height:24px;
}
#u775 {
  position:absolute;
  left:2px;
  top:4px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:24px;
}
#u776 {
  position:absolute;
  left:382px;
  top:276px;
  width:127px;
  height:24px;
}
#u777 {
  position:absolute;
  left:2px;
  top:4px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:24px;
}
#u778 {
  position:absolute;
  left:509px;
  top:276px;
  width:127px;
  height:24px;
}
#u779 {
  position:absolute;
  left:2px;
  top:4px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:24px;
}
#u780 {
  position:absolute;
  left:636px;
  top:276px;
  width:128px;
  height:24px;
}
#u781 {
  position:absolute;
  left:2px;
  top:4px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:24px;
}
#u782 {
  position:absolute;
  left:764px;
  top:276px;
  width:97px;
  height:24px;
}
#u783 {
  position:absolute;
  left:2px;
  top:4px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:24px;
}
#u784 {
  position:absolute;
  left:861px;
  top:276px;
  width:159px;
  height:24px;
  color:#199ED8;
}
#u785 {
  position:absolute;
  left:2px;
  top:4px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u786 {
  position:absolute;
  left:20px;
  top:60px;
  width:1020px;
  height:60px;
}
#u787 {
  position:absolute;
  left:2px;
  top:22px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u788 {
  position:absolute;
  left:513px;
  top:81px;
  width:148px;
  height:25px;
}
#u788_input {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u789 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:35px;
}
#u790 {
  position:absolute;
  left:2px;
  top:10px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u791 {
  position:absolute;
  left:45px;
  top:0px;
  width:110px;
  height:35px;
}
#u792 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u793 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u794 {
  position:absolute;
  left:0px;
  top:8px;
  width:35px;
  word-wrap:break-word;
}
#u795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u795 {
  position:absolute;
  left:1045px;
  top:0px;
  width:35px;
  height:35px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u796 {
  position:absolute;
  left:0px;
  top:8px;
  width:35px;
  word-wrap:break-word;
}
#u797 {
  position:absolute;
  left:672px;
  top:81px;
  width:148px;
  height:25px;
}
#u797_input {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u798 {
  position:absolute;
  left:37px;
  top:79px;
  width:63px;
  height:30px;
  color:#FFFFFF;
}
#u798_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u798.mouseOver {
}
#u798_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u798.mouseDown {
}
#u799 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u800 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u801 {
  position:absolute;
  left:860px;
  top:79px;
  width:60px;
  height:30px;
  color:#FFFFFF;
}
#u801_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u801.mouseOver {
}
#u801_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u801.mouseDown {
}
#u802 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u803 {
  position:absolute;
  left:880px;
  top:84px;
  width:20px;
  height:19px;
}
#u804 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u805 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u806 {
  position:absolute;
  left:945px;
  top:79px;
  width:60px;
  height:30px;
  color:#FFFFFF;
}
#u806_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u806.mouseOver {
}
#u806_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u806.mouseDown {
}
#u807 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u808 {
  position:absolute;
  left:965px;
  top:84px;
  width:20px;
  height:19px;
}
#u809 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u810 {
  position:absolute;
  left:376px;
  top:83px;
  width:113px;
  height:22px;
}
#u810_input {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u810_input:disabled {
  color:grayText;
}
#u811 {
  position:absolute;
  left:249px;
  top:83px;
  width:100px;
  height:22px;
}
#u811_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u811_input:disabled {
  color:grayText;
}
#u811_ann {
  position:absolute;
  left:342px;
  top:79px;
  width:1px;
  height:1px;
}
#u812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u812 {
  position:absolute;
  left:127px;
  top:79px;
  width:73px;
  height:30px;
  color:#FFFFFF;
}
#u812_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u812.mouseOver {
}
#u812_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u812.mouseDown {
}
#u813 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
