body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:460px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:260px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1485 {
  position:absolute;
  left:50px;
  top:40px;
  width:410px;
  height:260px;
}
#u1486 {
  position:absolute;
  left:2px;
  top:122px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:50px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1487 {
  position:absolute;
  left:51px;
  top:41px;
  width:409px;
  height:50px;
}
#u1488 {
  position:absolute;
  left:2px;
  top:17px;
  width:405px;
  word-wrap:break-word;
}
#u1489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1489 {
  position:absolute;
  left:420px;
  top:58px;
  width:20px;
  height:16px;
}
#u1490 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u1491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1491 {
  position:absolute;
  left:90px;
  top:112px;
  width:350px;
  height:112px;
}
#u1492 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
