body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u942 {
  position:absolute;
  left:20px;
  top:145px;
  width:898px;
  height:305px;
}
#u943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u943 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u944 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:36px;
}
#u945 {
  position:absolute;
  left:127px;
  top:0px;
  width:128px;
  height:36px;
}
#u946 {
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u947 {
  position:absolute;
  left:255px;
  top:0px;
  width:127px;
  height:36px;
}
#u948 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u949 {
  position:absolute;
  left:382px;
  top:0px;
  width:127px;
  height:36px;
}
#u950 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:36px;
}
#u951 {
  position:absolute;
  left:509px;
  top:0px;
  width:128px;
  height:36px;
}
#u952 {
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u953 {
  position:absolute;
  left:637px;
  top:0px;
  width:127px;
  height:36px;
}
#u954 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:36px;
}
#u955 {
  position:absolute;
  left:764px;
  top:0px;
  width:129px;
  height:36px;
}
#u956 {
  position:absolute;
  left:2px;
  top:10px;
  width:125px;
  word-wrap:break-word;
}
#u957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u957 {
  position:absolute;
  left:0px;
  top:36px;
  width:127px;
  height:30px;
}
#u958 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u959 {
  position:absolute;
  left:127px;
  top:36px;
  width:128px;
  height:30px;
}
#u960 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  word-wrap:break-word;
}
#u961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u961 {
  position:absolute;
  left:255px;
  top:36px;
  width:127px;
  height:30px;
}
#u962 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u963 {
  position:absolute;
  left:382px;
  top:36px;
  width:127px;
  height:30px;
}
#u964 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u965 {
  position:absolute;
  left:509px;
  top:36px;
  width:128px;
  height:30px;
}
#u966 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  word-wrap:break-word;
}
#u967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u967 {
  position:absolute;
  left:637px;
  top:36px;
  width:127px;
  height:30px;
  color:#FF0000;
}
#u968 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u969 {
  position:absolute;
  left:764px;
  top:36px;
  width:129px;
  height:30px;
  color:#199ED8;
}
#u970 {
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u971 {
  position:absolute;
  left:0px;
  top:66px;
  width:127px;
  height:30px;
}
#u972 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u973 {
  position:absolute;
  left:127px;
  top:66px;
  width:128px;
  height:30px;
}
#u974 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  word-wrap:break-word;
}
#u975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u975 {
  position:absolute;
  left:255px;
  top:66px;
  width:127px;
  height:30px;
}
#u976 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u977 {
  position:absolute;
  left:382px;
  top:66px;
  width:127px;
  height:30px;
}
#u978 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u979 {
  position:absolute;
  left:509px;
  top:66px;
  width:128px;
  height:30px;
}
#u980 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  word-wrap:break-word;
}
#u981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u981 {
  position:absolute;
  left:637px;
  top:66px;
  width:127px;
  height:30px;
}
#u982 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u983 {
  position:absolute;
  left:764px;
  top:66px;
  width:129px;
  height:30px;
  color:#199ED8;
}
#u984 {
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u985 {
  position:absolute;
  left:0px;
  top:96px;
  width:127px;
  height:30px;
}
#u986 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u987 {
  position:absolute;
  left:127px;
  top:96px;
  width:128px;
  height:30px;
}
#u988 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  word-wrap:break-word;
}
#u989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u989 {
  position:absolute;
  left:255px;
  top:96px;
  width:127px;
  height:30px;
}
#u990 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u991 {
  position:absolute;
  left:382px;
  top:96px;
  width:127px;
  height:30px;
}
#u992 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u993 {
  position:absolute;
  left:509px;
  top:96px;
  width:128px;
  height:30px;
}
#u994 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  word-wrap:break-word;
}
#u995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u995 {
  position:absolute;
  left:637px;
  top:96px;
  width:127px;
  height:30px;
}
#u996 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u997 {
  position:absolute;
  left:764px;
  top:96px;
  width:129px;
  height:30px;
  color:#199ED8;
}
#u998 {
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u999 {
  position:absolute;
  left:0px;
  top:126px;
  width:127px;
  height:30px;
}
#u1000 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u1001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u1001 {
  position:absolute;
  left:127px;
  top:126px;
  width:128px;
  height:30px;
}
#u1002 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  word-wrap:break-word;
}
#u1003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u1003 {
  position:absolute;
  left:255px;
  top:126px;
  width:127px;
  height:30px;
}
#u1004 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u1005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u1005 {
  position:absolute;
  left:382px;
  top:126px;
  width:127px;
  height:30px;
}
#u1006 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u1007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u1007 {
  position:absolute;
  left:509px;
  top:126px;
  width:128px;
  height:30px;
}
#u1008 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  word-wrap:break-word;
}
#u1009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u1009 {
  position:absolute;
  left:637px;
  top:126px;
  width:127px;
  height:30px;
  color:#FF0000;
}
#u1010 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u1011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u1011 {
  position:absolute;
  left:764px;
  top:126px;
  width:129px;
  height:30px;
  color:#199ED8;
}
#u1012 {
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u1013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u1013 {
  position:absolute;
  left:0px;
  top:156px;
  width:127px;
  height:30px;
}
#u1014 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u1015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u1015 {
  position:absolute;
  left:127px;
  top:156px;
  width:128px;
  height:30px;
}
#u1016 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  word-wrap:break-word;
}
#u1017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u1017 {
  position:absolute;
  left:255px;
  top:156px;
  width:127px;
  height:30px;
}
#u1018 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u1019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u1019 {
  position:absolute;
  left:382px;
  top:156px;
  width:127px;
  height:30px;
}
#u1020 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u1021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u1021 {
  position:absolute;
  left:509px;
  top:156px;
  width:128px;
  height:30px;
}
#u1022 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  word-wrap:break-word;
}
#u1023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u1023 {
  position:absolute;
  left:637px;
  top:156px;
  width:127px;
  height:30px;
  color:#FF0000;
}
#u1024 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u1025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u1025 {
  position:absolute;
  left:764px;
  top:156px;
  width:129px;
  height:30px;
  color:#199ED8;
}
#u1026 {
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u1027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u1027 {
  position:absolute;
  left:0px;
  top:186px;
  width:127px;
  height:30px;
}
#u1028 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u1029 {
  position:absolute;
  left:127px;
  top:186px;
  width:128px;
  height:30px;
}
#u1030 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u1031 {
  position:absolute;
  left:255px;
  top:186px;
  width:127px;
  height:30px;
}
#u1032 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u1033 {
  position:absolute;
  left:382px;
  top:186px;
  width:127px;
  height:30px;
}
#u1034 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u1035 {
  position:absolute;
  left:509px;
  top:186px;
  width:128px;
  height:30px;
}
#u1036 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u1037 {
  position:absolute;
  left:637px;
  top:186px;
  width:127px;
  height:30px;
}
#u1038 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u1039 {
  position:absolute;
  left:764px;
  top:186px;
  width:129px;
  height:30px;
  color:#199ED8;
}
#u1040 {
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u1041 {
  position:absolute;
  left:0px;
  top:216px;
  width:127px;
  height:30px;
}
#u1042 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u1043 {
  position:absolute;
  left:127px;
  top:216px;
  width:128px;
  height:30px;
}
#u1044 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u1045 {
  position:absolute;
  left:255px;
  top:216px;
  width:127px;
  height:30px;
}
#u1046 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u1047 {
  position:absolute;
  left:382px;
  top:216px;
  width:127px;
  height:30px;
}
#u1048 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u1049 {
  position:absolute;
  left:509px;
  top:216px;
  width:128px;
  height:30px;
}
#u1050 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u1051 {
  position:absolute;
  left:637px;
  top:216px;
  width:127px;
  height:30px;
}
#u1052 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u1053 {
  position:absolute;
  left:764px;
  top:216px;
  width:129px;
  height:30px;
  color:#199ED8;
}
#u1054 {
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u1055 {
  position:absolute;
  left:0px;
  top:246px;
  width:127px;
  height:30px;
}
#u1056 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u1057 {
  position:absolute;
  left:127px;
  top:246px;
  width:128px;
  height:30px;
}
#u1058 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u1059 {
  position:absolute;
  left:255px;
  top:246px;
  width:127px;
  height:30px;
}
#u1060 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u1061 {
  position:absolute;
  left:382px;
  top:246px;
  width:127px;
  height:30px;
}
#u1062 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u1063 {
  position:absolute;
  left:509px;
  top:246px;
  width:128px;
  height:30px;
}
#u1064 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u1065 {
  position:absolute;
  left:637px;
  top:246px;
  width:127px;
  height:30px;
}
#u1066 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u1067 {
  position:absolute;
  left:764px;
  top:246px;
  width:129px;
  height:30px;
  color:#199ED8;
}
#u1068 {
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:24px;
}
#u1069 {
  position:absolute;
  left:0px;
  top:276px;
  width:127px;
  height:24px;
}
#u1070 {
  position:absolute;
  left:2px;
  top:4px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:24px;
}
#u1071 {
  position:absolute;
  left:127px;
  top:276px;
  width:128px;
  height:24px;
}
#u1072 {
  position:absolute;
  left:2px;
  top:4px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:24px;
}
#u1073 {
  position:absolute;
  left:255px;
  top:276px;
  width:127px;
  height:24px;
}
#u1074 {
  position:absolute;
  left:2px;
  top:4px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:24px;
}
#u1075 {
  position:absolute;
  left:382px;
  top:276px;
  width:127px;
  height:24px;
}
#u1076 {
  position:absolute;
  left:2px;
  top:4px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:24px;
}
#u1077 {
  position:absolute;
  left:509px;
  top:276px;
  width:128px;
  height:24px;
}
#u1078 {
  position:absolute;
  left:2px;
  top:4px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:24px;
}
#u1079 {
  position:absolute;
  left:637px;
  top:276px;
  width:127px;
  height:24px;
}
#u1080 {
  position:absolute;
  left:2px;
  top:4px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:24px;
}
#u1081 {
  position:absolute;
  left:764px;
  top:276px;
  width:129px;
  height:24px;
  color:#199ED8;
}
#u1082 {
  position:absolute;
  left:2px;
  top:4px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1083 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:35px;
}
#u1084 {
  position:absolute;
  left:2px;
  top:10px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1085 {
  position:absolute;
  left:45px;
  top:0px;
  width:110px;
  height:35px;
}
#u1086 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u1087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u1087 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u1088 {
  position:absolute;
  left:0px;
  top:8px;
  width:35px;
  word-wrap:break-word;
}
#u1089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u1089 {
  position:absolute;
  left:1045px;
  top:0px;
  width:35px;
  height:35px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u1090 {
  position:absolute;
  left:0px;
  top:8px;
  width:35px;
  word-wrap:break-word;
}
#u1091 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1092 {
  position:absolute;
  left:766px;
  top:90px;
  width:60px;
  height:30px;
  color:#FFFFFF;
}
#u1092_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1092.mouseOver {
}
#u1092_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1092.mouseDown {
}
#u1093 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u1094 {
  position:absolute;
  left:786px;
  top:95px;
  width:20px;
  height:19px;
}
#u1095 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1096 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1097 {
  position:absolute;
  left:851px;
  top:90px;
  width:60px;
  height:30px;
  color:#FFFFFF;
}
#u1097_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1097.mouseOver {
}
#u1097_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1097.mouseDown {
}
#u1098 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u1099 {
  position:absolute;
  left:871px;
  top:95px;
  width:20px;
  height:19px;
}
#u1100 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1101 {
  position:absolute;
  left:484px;
  top:90px;
  width:163px;
  height:30px;
}
#u1101_input {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1101_input:disabled {
  color:grayText;
}
#u1102 {
  position:absolute;
  left:262px;
  top:90px;
  width:144px;
  height:30px;
}
#u1102_input {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1102_input:disabled {
  color:grayText;
}
#u1102_ann {
  position:absolute;
  left:399px;
  top:86px;
  width:1px;
  height:1px;
}
#u1103 {
  position:absolute;
  left:40px;
  top:90px;
  width:144px;
  height:30px;
}
#u1103_input {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1103_input:disabled {
  color:grayText;
}
#u1103_ann {
  position:absolute;
  left:177px;
  top:86px;
  width:1px;
  height:1px;
}
#u1104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1104 {
  position:absolute;
  left:40px;
  top:60px;
  width:57px;
  height:16px;
}
#u1105 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1106 {
  position:absolute;
  left:262px;
  top:60px;
  width:57px;
  height:16px;
}
#u1107 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1108 {
  position:absolute;
  left:484px;
  top:60px;
  width:57px;
  height:16px;
}
#u1109 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:55px;
}
#u1110 {
  position:absolute;
  left:439px;
  top:473px;
  width:472px;
  height:55px;
}
#u1111 {
  position:absolute;
  left:2px;
  top:20px;
  width:468px;
  visibility:hidden;
  word-wrap:break-word;
}
