body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:459px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u586_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:522px;
}
#u586 {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:522px;
}
#u587 {
  position:absolute;
  left:2px;
  top:253px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
