body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:669px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u498_div {
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  height:470px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u498 {
  position:absolute;
  left:0px;
  top:50px;
  width:669px;
  height:470px;
}
#u499 {
  position:absolute;
  left:2px;
  top:227px;
  width:665px;
  visibility:hidden;
  word-wrap:break-word;
}
#u500_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u500 {
  position:absolute;
  left:351px;
  top:151px;
  width:43px;
  height:16px;
}
#u501 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u502 {
  position:absolute;
  left:441px;
  top:152px;
  width:60px;
  height:16px;
}
#u503 {
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u502_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u504 {
  position:absolute;
  left:541px;
  top:152px;
  width:60px;
  height:16px;
}
#u505 {
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u504_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u506 {
  position:absolute;
  left:20px;
  top:199px;
  width:71px;
  height:16px;
}
#u507 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u508 {
  position:absolute;
  left:110px;
  top:196px;
  width:190px;
  height:25px;
}
#u508_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u509 {
  position:absolute;
  left:351px;
  top:197px;
  width:43px;
  height:16px;
}
#u510 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u511 {
  position:absolute;
  left:441px;
  top:194px;
  width:190px;
  height:25px;
}
#u511_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u512_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u512 {
  position:absolute;
  left:448px;
  top:463px;
  width:78px;
  height:30px;
  color:#FFFFFF;
}
#u512_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u512.mouseOver {
}
#u512_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u512.mouseDown {
}
#u513 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u514_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u514 {
  position:absolute;
  left:561px;
  top:463px;
  width:70px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u514_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u514.mouseOver {
}
#u514_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.6);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u514.selected {
}
#u515 {
  position:absolute;
  left:2px;
  top:5px;
  width:66px;
  word-wrap:break-word;
}
#u516_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0000;
}
#u516 {
  position:absolute;
  left:310px;
  top:202px;
  width:20px;
  height:16px;
  color:#CC0000;
}
#u517 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  height:50px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u518 {
  position:absolute;
  left:0px;
  top:0px;
  width:669px;
  height:50px;
}
#u519 {
  position:absolute;
  left:2px;
  top:17px;
  width:665px;
  visibility:hidden;
  word-wrap:break-word;
}
#u520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u520 {
  position:absolute;
  left:629px;
  top:17px;
  width:20px;
  height:16px;
}
#u521 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u522_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u522 {
  position:absolute;
  left:14px;
  top:16px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u523 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u524 {
  position:absolute;
  left:20px;
  top:105px;
  width:57px;
  height:16px;
}
#u525 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u526 {
  position:absolute;
  left:110px;
  top:101px;
  width:190px;
  height:25px;
}
#u526_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u527_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u527 {
  position:absolute;
  left:20px;
  top:151px;
  width:71px;
  height:16px;
}
#u528 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u529 {
  position:absolute;
  left:110px;
  top:147px;
  width:190px;
  height:25px;
}
#u529_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0000;
}
#u530 {
  position:absolute;
  left:310px;
  top:151px;
  width:6px;
  height:16px;
  color:#CC0000;
}
#u531 {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u532 {
  position:absolute;
  left:351px;
  top:297px;
  width:71px;
  height:16px;
}
#u533 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u534 {
  position:absolute;
  left:441px;
  top:291px;
  width:190px;
  height:25px;
}
#u534_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u535 {
  position:absolute;
  left:20px;
  top:299px;
  width:71px;
  height:16px;
}
#u536 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u537 {
  position:absolute;
  left:110px;
  top:296px;
  width:190px;
  height:25px;
}
#u537_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u538_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u538 {
  position:absolute;
  left:20px;
  top:403px;
  width:71px;
  height:16px;
}
#u539 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u538_ann {
  position:absolute;
  left:84px;
  top:399px;
  width:1px;
  height:1px;
}
#u540 {
  position:absolute;
  left:110px;
  top:399px;
  width:169px;
  height:25px;
}
#u540_input {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u541_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u541 {
  position:absolute;
  left:289px;
  top:404px;
  width:15px;
  height:16px;
}
#u542 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u543_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u543 {
  position:absolute;
  left:351px;
  top:403px;
  width:43px;
  height:16px;
}
#u544 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u543_ann {
  position:absolute;
  left:387px;
  top:399px;
  width:1px;
  height:1px;
}
#u545 {
  position:absolute;
  left:441px;
  top:399px;
  width:169px;
  height:25px;
}
#u545_input {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u546_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u546 {
  position:absolute;
  left:620px;
  top:404px;
  width:13px;
  height:16px;
}
#u547 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u548_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u548 {
  position:absolute;
  left:351px;
  top:105px;
  width:119px;
  height:16px;
}
#u549 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u550_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(51, 204, 0, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u550 {
  position:absolute;
  left:20px;
  top:68px;
  width:80px;
  height:16px;
  color:#999999;
  text-align:center;
}
#u551 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u552_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(51, 204, 0, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u552 {
  position:absolute;
  left:20px;
  top:259px;
  width:80px;
  height:16px;
  color:#999999;
  text-align:center;
}
#u553 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u554_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(51, 204, 0, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u554 {
  position:absolute;
  left:20px;
  top:360px;
  width:80px;
  height:16px;
  color:#999999;
  text-align:center;
}
#u555 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
